
<td>
  <!-- <button class="btn btn-danger btn-xs" type="button" (click)="deleteTask(idx)"> Delete </button> -->
</td>


<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1> To-Do Application </h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-10">
      <input type="text" class="form-control" name="task" placeholder="Task" #taskInput (keyup.enter)="addTask(taskInput)" >
    </div>

    <div class="col-2">
      <button class="btn btn-info" type="submit" (click)="addTask(taskInput) " >Add</button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>To-Do list</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks; let idx = index ">

            <td class="col-md-9 " *ngIf="task.isCanceled;else elseTd ">
              <s class="taskTitle">{{idx + 1}}. {{task.title}}</s>
            </td>

            <ng-template #elseTd>
              <td class="taskTitle">{{idx + 1}}. {{task.title}}</td>
            </ng-template>

            <td class="col-md-1"> 
              <button class="btn btn-primary btn-sm" (click)="editTask(idx)"> Edit </button>
           </td>

            <td class="col-md-1">
              <button class="btn  btn-warning btn-sm" type="button" (click)="cancleTask(idx)"> Cancel </button>
            </td>

            <td class="col-md-1">
              <button class="btn btn-danger btn-sm" type="button" (click)="deleteTask(idx)"> Delete </button>
            </td>

          </tr>
        </tbody>
        <tfoot>
          <tr>
            <button class="btn btn-outline-danger mt-2" type="button" (click)="clearToDo()">Clear All</button>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>